.about {
  background: #fff;
  .container {
    padding: 150px 0 0 20px;
    .hero-inner {
      // height: 100vh;
      display: flex;
      align-items: center;
      justify-self: center;

      .hero-inner-col {
        &.left {
          display: none;
        }
        &.right {
        }
        .hero-inner-title {
          z-index: 11;
          text-align: left;
          position: relative;
          h1 {
            text-align: left;
            margin: 0;
            font-weight: 700;
            @media (min-width: 1800px) {
              font-size: 28px;
            }
          }
          h3 {
            text-align: left;
            margin: 0;
            font-weight: 500;
            margin-bottom: 50px;
            @media (min-width: 1800px) {
              font-size: 28px;
            }
          }
        }
        @media (max-width: 599px) {
          .hero-inner-title h3 {
            padding: 0 20px 0 0;
          }
        }
        @media only screen and (max-width: 600px) {
          .hero-inner-title {
            h3 {
              font-size: 14px;
            }
          }
        }
        .btn-row {
          display: flex;
          opacity: 1;
          margin-left: -5px;
          .request {
            margin: 5px;
            background: #0091d0;
            width: 25%;
            border-radius: 1px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 1.1rem;
            color: #fff;
            text-transform: capitalize;
            font-weight: 600;
          }
          .schedule {
            margin: 5px;
            background: #fff;
            border: 1px solid black;
            width: 25%;
            border-radius: 1px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 1.1rem;
            color: #0091d0;
            text-transform: capitalize;
            font-weight: 600;
          }
        }
        @media only screen and (max-width: 600px) {
          .btn-row {
            display: block;
            opacity: 1;
            .request {
              margin: 5px;
              background: #fff;
              border: 1px solid black;
              width: 98%;
              border-radius: 1px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              font-size: 1.1rem;
              color: #0091d0;
              text-transform: capitalize;
              font-weight: 600;
            }
            .schedule {
              margin: 5px;
              background: #0091d0;
              width: 98%;
              border-radius: 1px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              font-size: 1.1rem;
              color: #fff;
              text-transform: capitalize;
              font-weight: 600;
            }
          }
        }
        .btn-scroll-row {
          padding-top: 2%;
          text-align: left;
        }
        @media only screen and (max-width: 600px) {
          .btn-scroll-row {
            padding-top: 5%;
            text-align: center;
          }
        }
        .hero-inner-links {
          z-index: 11;
          position: relative;
          display: flex;
          .hero-inner-link-item {
            .hero-inner-link-item-padding {
              position: relative;
              &:before {
                content: "";
                display: block;
                position: absolute;
                top: -30vh;
                bottom: -30vh;
                left: 0;
                right: 0;
              }
            }
            a {
              padding: 12px 22px;
              display: inline-block;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              color: transparent;
              transition: color 0.3s, -webkit-text-stroke 0.3s;
              -webkit-text-stroke: 1px #000;
              &:hover {
                color: black;
                -webkit-text-stroke: 1px transparent;
              }
              span {
                line-height: 1.1;
                font-weight: 700;
                text-shadow: none;
                font-size: 6.8vw;
                @media (max-width: 599px) {
                  font-size: 6vw;
                }
              }
            }
            &:first-child {
              a {
                padding-left: 0;
              }
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    .hero-inner-footer {
      .hero-inner-footer-text {
        p {
          font-size: 2.8rem;
          margin-top: -90px;
          width: 70%;
          line-height: 4.4rem;
        }
      }
    }
  }
}

.wrapper {
  overflow:hidden;
}

.wrapper div {
   padding: 0px 120px ;
}
@media (max-width: 599px) {
  .wrapper div {
    min-height: 200px;
    padding: 0px 20px ;
 }
}
#mission {
  float:left;
  color: #000000;
  font-weight: 500;
  width:50%;
  text-align: left;
}
#vision {
  overflow:hidden;
  color: #000000;
  font-weight: 500;
  text-align: left;
}
#one {
  float:left;
  color: #000000;
  font-weight: 500;
  width:50%;
  text-align: left;
}
#two {
  overflow:hidden;
  color: #000000;
  font-weight: 500;
  text-align: left;
}
#one h3{
  font-size: 1.4rem;
}
#two h3{
  font-size: 1.4rem;
}
#one h3 img{
  width: 20%;
}
#two h3 img{
  width: 20%;
}
#one h3 .testing-service-icon{
  width: 26%;
}
#one h3 .crm-service-icon{
  width: 21%;
}
#one p{
  font-size: 1.2rem;
  border: 1px solid #dadada;
  padding: 25px 25px 25px 25px;
  border-radius: 2px;
}
#one p:hover{
  font-size: 1.2rem;
  border: 1px solid #0091D0;
  padding: 25px 25px 25px 25px;
  border-radius: 2px;
}
#two p{
  font-size: 1.2rem;
  border: 1px solid #dadada;
  padding: 25px 25px 25px 25px;
  border-radius: 2px;
}
#two p:hover{
  font-size: 1.2rem;
  border: 1px solid #0091D0;
  padding: 25px 25px 25px 25px;
  border-radius: 2px;
}
@media screen and (max-width: 720px) {
   #one {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 599px) {
  .gallery {
    margin-bottom: 120px;
  }
}
.card-logo {
  width: 25%;
}
.card-container {
  width: 250px;
  height: 250px;
  -webkit-perspective: 800px;
  perspective: 800px;
  margin: 5px;
  border-radius: 20%;
}

@media (max-width: 599px) {
  .card-logo {
    width: 100%;
  }
  .card-container {
    width: 100%;
  }
  label.card div {
  position: relative !important;
  margin: 0;
  padding: 10px;
  }

  
}

.gallery2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-logo2 {
  width: 16.3%;
}
.card-container {
  width: 250px;
  height: 250px;
  -webkit-perspective: 800px;
  perspective: 800px;
  margin: 5px;
  border-radius: 20%;
}

@media (max-width: 599px) {
  .card-logo {
    width: 100%;
  }
  .card-container {
    width: 100%;
  }
  label.card div {
  position: relative !important;
  margin: 0;
  padding: 10px;
  }
}

$black: #000000;
$white: #fff;
$yell: #ffdc7c;

.item-description {
  color: grey;
}

.separator {
  margin: 30px auto;
  border: 1px solid #6AC4DB;
  width: 50%;
}


.team{
  text-align: center !important;
}
.Designation{
  font-size: 12px;
  text-align: center;
  color: #9a9da6;
}