//colors
$red: #fc3f4e;
$white: #ffffff;

.career-heading{
  .item-title {
    font-weight: bold;
    font-size: 4rem;
  @media (max-width: 599px) {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 100px;
  }
  }
  .item-mini-title {
    font-weight: bold;
    font-size: 2rem;
  @media (max-width: 599px) {
    font-weight: bold;
    font-size: 1rem;
  }
  }
  .item-description{
      color: gray;
      font-size: 1.5rem;
  @media (max-width: 599px) {
    color: gray;
    font-size: 1.0rem;
  }
  }
}

//product overview
.product {
    .product-container {
      position: relative;
      height: 540px;

      .product-image {
        z-index: 8;
        // position: absolute;
        text-align: center;
        margin: auto;
      }
    }
}

.font-center-title{
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    font-size: 3rem;
  @media (max-width: 599px) {
    font-weight: bold;
    font-size: 2rem;
  }
}
.font-center{
  text-align: center;
  color: gray;
  font-size: 1.5rem;
}


.StyledContainer{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: auto;
  max-width: 1400px;
  padding:20px;
}
.StyledCard{
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 4px;
  display:flex;
  flex-flow: column wrap;
  background-color:white;
  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: gray;
    margin: 0;
  }
  p {
    font-size: 1.4rem;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
  }
  &.three {
    grid-column: span 3;
  }
}