.cases {
  // height: 50vh;
  // height: calc(var(--vh, 1vh) * 50);
  .cases-navigation {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    padding: 32px;
    box-sizing: border-box;
    @include media("<=tablet") {
      display: none;
    }
    .cases-arrow {
      background: rgba(0, 0, 0, 0.4);
      height: 72px;
      width: 72px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: $white;
        height: 28px;
        width: 28px;
      }
      &.disabled {
        opacity: 0.3;
      }
    }
  }
  .row {
    @include media("<=tablet") {
      flex-direction: column;
    }
    .case {
      position: relative;
      background: #ffffff;
      cursor: pointer;
      &:hover {
        .case-image {
          opacity: 0.4;
        }
      }
      .case-details {
        width: 33vw;
        height: 20vh;
        height: calc(var(--vh, 1vh) * 60);
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding: 10px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
        @include media("<=tablet") {
          width: 100vw;
        }
        @include media("<=phone") {
          padding: 16px;
        }
        span {
          text-align: center;
          margin-top: 20%;
          padding: 20px;
          opacity: 0.8;
          color: #000000;
          position: absolute;
          @include media("<=desktop", ">tablet") {
            font-size: 1.0rem;
          }
          @include media("<=phone") {
            padding: 10px;
            font-size: 1.0rem;
            line-height: 1.2rem;
            text-align: left;
          }
        }
        h2 {
          text-align: center;
          font-size: 2.0rem;
          width: 100%;
          position: absolute;
          bottom: 0;
          color: #000000;
          font-weight: bolder;
          @include media("<=desktop", ">tablet") {
            font-size: 2rem;
          }
          @include media("<=phone") {
            padding: 10px;
            font-size: 2rem;
            line-height: 2.2rem;
            margin-top: 8px;
            text-align: left;
          }
        }
        img{
          position: relative;
          bottom: -1px;
          white-space: nowrap;

          @media (max-width: 599px) {
            // bottom: 4px;
          }
        }
      }
      .case-image {
        top: 10%;
        left: 25%;
        width: 45%;
        height: 45%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        // opacity: 0.65;
        transition: 0.4s cubic-bezier(0.6, -0.05, 0.1, 0.99);
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
